* {
  margin: 0;
  padding: 0;
}
section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; */
}
.cards {
  display: flex;
  justify-content: space-between;
  /* width: 250px; */
  align-items: center;
  padding: 20px;
}
.cards:hover {
  box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
  /* cursor: pointer; */
}
/* .image_box img {
  width: 150px;
  height: 200px;
} */

.image_box img {
  width: 80px;
  height: 100px;
cursor: pointer;
}
.details{
  width: 200px ;
  /* overflow: auto; */
  height: 100px;
}
.details p:nth-child(1) {
  font-weight: bold;
  padding: 10px;
}
.desc {
  color: grey;
  font-size: 0.8rem;
  padding: 10px;
  padding-top: 0px;
  /* width: 100px; */
}
.price {
  font-weight: bolx;
  color: grey;
  padding: 10px;
}
 button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: skyblue;
  outline: none;
  cursor: pointer;
}


.kart{
  display: flex;

}

.table_card{
  width: 100wh;
  margin: 2rem 1rem;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_product td{
  width: 70rem;
}

.product_search{
border-radius: 50px;
float: right;
padding:5px 10px;
margin: 1rem;
}
.product_filter{
border-radius: 50px;
/* float: right; */
padding:5px 10px;
margin: 1rem;
}

label{
  margin: 1rem;
}